{
  "overrides": [
    {
      "files": ["*.sol"],
      "options": {
        "singleQuote": false,
        "requirePragma": false,
        "tabWidth": 4,
        "printWidth": 120,
        "bracketSameLine": true,
        "bracketSpacing": true,
        "explicitTypes": "always",
        "useTabs": true
      }
    }
  ],
  "plugins": ["eslint-plugin-prettier", "prettier-plugin-solidity"]
}
